data_dev/*
data/*
*dat
*mod
*o
*a
*npy
cleandist-custom.sh
reconf-custom.sh
remake.sh
update-github-doc.sh
doc/*
src/ggadt
batch.sh
**dat
**eps
TODO.md
fftw3-custom-portfile
remake-*sh
autom4te.cache/*
